<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Libre+Franklin|Lobster|Old+Standard+TT|Poiret+One|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="shortcut icon" href="#">
    <title>Welcome to more recipes</title>
</head>

<body>
    <header class="container-fluid">
        <div class="header-image header-menu">
            <nav class="navbar navbar-expand-lg transparency">
                <div class="container">
                    <a class="navbar-brand main-logo menu-text-coloration" href="#">more recipes</a>
                    <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                          <span class="navbar-toggler-icon hamburger-button"></span>
                                        </button>

                    <div class="collapse navbar-collapse search-padding" id="navbarTogglerDemo02">
                        <form class="form-inline my-2 my-lg-0 form-control-text">
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <button class="btn input-group-addon" type="submit">Search</button>
                                <input type="search" class="input-group-addon text-dark font-weight-bold" aria-label="" aria-describedby="btnGroupAddon">
                            </div>
                        </form>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-menu-padding font-weight-bold">
                            <li class="nav-item active">
                                <a class="nav-link menu-text-coloration" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-text-coloration" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-text-coloration" href="#">Catalog</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle menu-text-coloration" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                                <div class="dropdown-menu buttom-container">
                                    <a class="dropdown-item menu-text-coloration" href="#">Baked</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Beef</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Chicken</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Curry</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Dessert</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Egg</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Fish</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Fried</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Noodles</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Sea Food</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Soup</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Vegetables</a>
                                    <a class="dropdown-item menu-text-coloration" href="#">Vegeterian</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="bottom-container-holder">
                <div class="container">
                    <div class="jumbotron buttom-container text-center form-control-text text-light font-weight-bold">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque commodi optio nulla dolore animi in veritatis fuga culpa! Sequi magnam libero recusandae officia dolore eos voluptates nobis accusamus. Nemo, earum.</p><br>
                        <button class="btn btn-outline-info my-2 my-sm-0 font-weight-bold" type="submit">Sign Up</button>
                        <button class="btn btn-outline-success my-2 my-sm-0 font-weight-bold" type="submit">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="body-container-header">
            <div class="container-fluid text-light">
                <div class="row top-recipe-top">
                    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 my-text-left">
                        <h5> Top Recipes</h5>
                    </div>
                    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 my-text-right">
                        <h6>
                            <a href="#" class="text-light font-weight-bold nextprev">&lt;&lt;</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="text-light font-weight-bold nextprev"> &gt;&gt;</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top recipes icons -->
        <div class="body-container-header">
            <div class="container-fluid">
                <div class="container-padded">
                    <div class="row">
                        <div class="col col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                            <div class="row">
                                <div class="card" style="width: 20rem;">
                                    <img class="card-img-top" src="images/12.jpg" alt="Card image cap">
                                    <div class="card-body-edited">
                                        <div class="tbl-icon">
                                            <div class="row-icon">
                                                <div class="cell-icon">
                                                    <div class="like-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></div>&nbsp;
                                                    <div class="like-icon-count">0</div>
                                                </div>
                                                <div class="cell-icon">
                                                    <div class="up-vote-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                                                    &nbsp;
                                                    <div class="up-vote-icon-count">0</div>
                                                    &nbsp;
                                                    <div class="down-vote-icon"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></div>
                                                </div>
                                                <div class="cell-icon">
                                                    <div class="comment-icon"><i class="fa fa-comment-o" aria-hidden="true"></i></div>&nbsp;
                                                    <div class="comment-icon-count">0</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary">
                                    <br>
                                    <a href="#">Buffet</a>
                                    <p>Tarts, salads and sweet treats for a party.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">2</div>
                        <div class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">3</div>
                        <div class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">4</div>
                        <div class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">5</div>
                        <div class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">6</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="row">
            <div class="footer-container">
                <div class="container text-light">
                    more recipes &copy;2017, Andela Project cycle XXVIII review.
                </div>
            </div>
        </div>
    </footer>
    <script src="https://use.fontawesome.com/bcb6ad3812.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>

</html>